header {
	display: flex;

}

header > a {
	flex: 1;
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
	color: black;
}

/* TODO
	changed color after clicking the a
 */
header > a:link {
	background-color: lightblue;
	text-decoration: none;
}
header > a:visited {
	background-color: #41b5f4;
	// font-size: 50px;
}
header > a:hover {
	background-color: #41b5f4;
}

header > a:active {
	// font-size: 30px;
	background-color: #41b5f4;
}

.header-directive {

}

table {
    font-size: 24px;
    width: 100%;
}

table tr {
    cursor: pointer;
    height: 60px;
    border-bottom: 2px solid #111;
}

table input {
    position: relative;
    top: -3px;
}


.create-controller, .mail-controller {
	font-size: 24px;
	// padding: 20px;
}

.create-controller div, .mail-controller div {
	margin: 15px 0;
	padding: 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.create-controller div:last-child, .mail-controller div:last-child {
	min-height: 260px;
}

.mail-controller div:last-child article {
	min-height: 200px;
}

.mail-controller div:last-child input {
	float: right;
	margin: 5px;
}

.mail-controller div:last-child input:hover {
	background-color: #41b5f4;
}
.create-controller textarea {
	border: 1px solid black;
	width: 100%;
	display: block;
}

.create-controller .text input {
	margin: 10px 0;
	float: right;
	background-color: lightblue;
	text-decoration: none;
	padding: 8px;
}

.create-controller br {
	clear: both;
}

.list-controller-delete {
	background-color: red;
	float: right;
	padding: 10px;
	margin: 20px;
	text-decoration: none;
	color: white;
	font-size: 24px;
}