<div class="create-controller">
	<form ng-submit="submit()" ng-controller="CreateController">
		<div class="to">
			To: <input type="email" ng-model="to" name="to" size="26" required>
		</div>
		<div class="subject">
			Subject: <input type="text" ng-model="subject" name="subject" size="22" required>
		</div>
		<div class="text">
			<textarea name="" id="" ng-model="text" name="text" cols="50" rows="5" placeholder="Type your message here" required></textarea>
			<input type="submit" id="submit" value="SEND" />
			<br>
		</div>
	</form>
</div>
